
*{
    font-family: 'Nova Square', sans-serif;
    
}

i{
    color: darkred;
    font-size: 30px ;
}
h2,h3,h4,h5{
    color: darkred;
    font-family:  'Rajdhani', sans-serif;
}


.barraCust{
    background: rgb(255,255,255);
    
}





.logoCustom{
    
    
    display: flex;
    justify-content: center;
}

.linkCustm{
    
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: grey;
    
    
}

.containerCustom{
    height: 100vh;
    background:  linear-gradient(to bottom, rgba(255,255,255,1) , rgba(255,255,255,0.3) ), url("./media/switzerland-862870_1920.jpg");
    background-position: center;
    position: relative;
    
}
.textCustom{
    font-family: 'Rajdhani', sans-serif;
    font-size: xx-large 70px;
    letter-spacing: 30px;
    color: darkred;
    font-weight: 500;
    
}

.montagnebianche{
    position: absolute;
    bottom: 0;
    left: 0;
}

.apos{
    color: darkred;
}

body{
    background: rgba(236,236,236,255);
    overflow-x: hidden;
}
.ContainerCustMW{
    height: 100vh;
    position: relative;
}

.alberibianchi{
    position: absolute;
    
    bottom: -48px;
    left: -70px;
}
.bottonecust{
    border: 2px solid darkred;
    border-radius: 0%;
    background-color: darkred;
    color: rgba(236,236,236,255);
}

.provabordi{
    border-left: 3px solid darkred;
    
}
.circle{
    width: 15px;
    background-color: white;
    height: 15px;
    border: 3px solid darkred;
    border-radius: 50px;
    position: relative;
    left: -20px;
}
.cerchio{
    width: 15px; 
    height: 15px; 
    background-color: white;
    border: 3px solid darkred;
    border-radius: 50px;
    position: relative;
    left: -20px;
    top: 55px;
}
.cerchio2{
    width: 15px; 
    height: 15px; 
    background-color: white;
    border: 3px solid darkred;
    border-radius: 50px;
    position: relative;
    left: -20px; 
    top: 60px;
}
.cerchio3{
    width: 15px; 
    height: 15px; 
    background-color: white;
    border: 3px solid darkred;
    border-radius: 50px;
    position: relative;
    left: -20px; 
    top: 65px;
}
.colorBack{
    background-color: white;
}
.scrittaprova{
    position: relative;
    left: 100px;
    top: 60px;
}

.alberiGrigi{
    position: absolute;
    right: 0;
    bottom: 0;
}
.scrittasezz5{
    position: relative;
    left: 100px;
    top: 20px;
}
.immOurteam{
    height: 120px;
    width: 120px; 
    border-radius: 50%;
    border: 2px solid darkred;
    padding: 3px;
   
    
}
.social{
    
   width: 100%;
   justify-content: space-evenly;
   
    
}

.fotoSezz6{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid darkred;
}
.fineSito{
    background-color: darkred;
   
    top: -200px;
}
.scrittasezz7{
    color: white;
}
ol{
    color: white; 
}